

<div>
   <mat-form-field class="example-full-width">
   <input type="text"  matInput [formControl]="formctrl" placeholder="Kunde" i18n-placeholder="@@client" (ngModelChange)="Kunden($event)" [matAutocomplete]="auto">
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete">
   <mat-option *ngFor="let kunde of kunden" [value]="kunde.bfname" (click)="additemforsearch(kunde)">
      {{ kunde.bfname}}
   </mat-option>
</mat-autocomplete>
</div>
<form [formGroup]="filter">
<div formArrayName="itemforsearch">
    
    <div *ngFor="let _itemforsearch of filter.get('itemforsearch')?.controls; let i = index" >

            <div [formGroupName]="i"  class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0" >
                <div >
                    <div >
                        <div class="item item-1" fxFlex="20%" fxFlexOrder="1">Kunde:</div>
                        <div class="item item-2" fxFlex="20%" fxFlexOrder="2"><input matInput class="example-full-width" formControlName="firstname"></div>
                        <div class="item item-3" fxFlex="20%" fxFlexOrder="3"><input matInput class="example-full-width" formControlName="lastname"></div>
                        <div class="item item-4" fxFlex="40%" fxFlexOrder="4"><input matInput class="example-full-width" formControlName="kundennummer"></div>
                        <div class="item item-4" fxFlex="20%" fxFlexOrder="5"><button mat-icon-button (click)="deleteitemforsearch(i)" ><mat-icon style="margin-bottom:15px">delete</mat-icon></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</form>
