.example-fill-remaining-space {
 
  flex: 1 1 auto;
}

#xxx {
    margin-top: 120mm;
    position: absolute;
    color: green;
}

.breadcrumbs_icon {
  margin: 0 20px;
  display: inline;
  vertical-align: middle;
}

/* .disabled {
            pointer-events: none; 
            cursor: default;
            color: #404040;
            text-decoration: none;
        } */

        .headerleft {
            flex: 1 1 auto;
            margin-top:5px;
          }
          
          .fill-remaining-space {
            flex: 1 1 auto;
          }
          
          .disabled {
            pointer-events: none; 
            cursor: default;
            color: #404040;
            text-decoration: none;
          }
          
          .anmeldeinformationen {
            margin-left: 10px; 
            border-bottom: 1px solid darkgrey; 
            padding-bottom: 5px;
          }
          
          .small-icons {
            font-size: 15px;
          }
          
          .vcenter {  
            vertical-align: middle;
          }
          
          .instanz-mandant {
            overflow: hidden;
          }
          
          .instanz {
            float:left; 
            width: 115px; 
            text-overflow: ellipsis; 
            white-space: nowrap; 
            overflow: hidden;
          }
          
          .mandant {
            float:right; 
            margin-right: 10px;
          }
          
          .edprot {
            color:#c5010e;
          }
          
          .mat-menu-item {
            line-height: 37px;
            height: 37px;
            font-size: 13px;
          }
          
          .mat-menu-item .mat-icon {
            font-size: 20px;
          }