<mat-toolbar color="primary">
  <!-- <span style="flex: 1 1 auto;margin-top:5px;">
      <h1><span style="color:red;">edp</span>CRM</h1>
    </span> -->
    <span class="headerleft">
      <h1>
        <button type="button" mat-icon-button (click)="onSidenavToggle.emit()"><mat-icon aria-label="Hamburgersymbol">dehaze</mat-icon></button>
        <span class="edprot">edp</span> <span> {{currentAppModule}} </span><span> {{modulename}}</span>
        <span *ngIf="breadcrumbs">
          <span *ngFor="let crumb of breadcrumbs"><mat-icon class="breadcrumbs_icon">arrow_right_alt</mat-icon>{{crumb}}</span>
        </span>
      </h1>
  </span>
<span *ngIf="showiconforproject">

<button mat-icon-button (click)="openterminsuche()"><mat-icon>search</mat-icon></button>
</span>
<span *ngIf="showiconforkunden">
<!--<button mat-icon-button (click)="openobjausgabesuche()"><mat-icon>search</mat-icon></button>-->
</span>
 
 <div style="margin-right: 4em;"></div>


  <nav >

   <!-- <a [routerLink]="['/agendaview/agendaitems-show']" routerLinkActive="disabled" (click)="setTitle('Agenda')">Agenda</a> -->
  <!-- <a [routerLink]="['/projektview/projekte-show']" routerLinkActive="disabled" (click)="setTitle('Projekte')">Ausgabe</a> -->
  <!-- <a [routerLink]="['/kundenview/kunden-show']" routerLinkActive="disabled" (click)="setTitle('Kunden')">Kunden</a> -->
  </nav>

   <span class="example-fill-remaining-space"></span>
  <span style="font-size:small;"><span i18n="@@fullTime">Uhrzeit</span>: {{currentDate | date:"HH:mm:ss"}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <app-aktionaktiv ></app-aktionaktiv>

<button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon> <!-- more_vert -->
    </button>
 <mat-menu #menu="matMenu">
     <div style="background-color:#b3ffcc">
     <div style="margin-left: 10px">
     <div><span i18n="@@logInAs">Angemeldet als</span>:</div>
        <div style="font-size: 12px;">{{currentUser}}</div>
        <i style="font-size: 13px;" class="material-icons">local_activity</i><span style="font-size: 12px;">  {{instanz}}</span>
        <div style="float:right;margin-right:20px"><i style="font-size: 13px" class="material-icons">domain</i><span style="font-size: 12px;">   {{mandant}}</span></div>
        </div>
        </div>
      <button mat-menu-item (click)="programminformationen()">
        <mat-icon>info</mat-icon>
        <span i18n="@@information">Information</span>
      </button>
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span i18n="@@settings">Einstellungen</span>
      </button>
      <button mat-menu-item (click)="logout($event)">
        <mat-icon>power_settings_new</mat-icon>
        <span i18n="@@logout">Abmelden</span>
      </button>
    </mat-menu>

</mat-toolbar>