<div class="demo">
  <div>
<mat-tab-group (selectChange)="onSelectTabChange($event)">
    <mat-tab label="H" >
        <!--(click)="showhistroy()"-->
        </mat-tab>
   <mat-tab label="!">
</mat-tab>
    <mat-tab label="*">
         <!--<app-chipsanzeige [kundenbez]="kundenbez"></app-chipsanzeige>-->
         </mat-tab>

  <mat-tab label="Aufträge">
       <!--<app-umsatzdiagram [kundenbez]="kundenbez" [objekt]="kundenobjekt"></app-umsatzdiagram>-->
       </mat-tab>
   <mat-tab label="Offerten">
       </mat-tab>
        <mat-tab label="Mails">
    <!--<template mat-tab-label>-->
    <!-- Mails-->
    <!--</template>-->
  </mat-tab>
   <mat-tab lable="Agentur">
        </mat-tab>
</mat-tab-group>
<div>

