<div>
    <mat-form-field class="example-full-width">
    <input type="text"  matInput [formControl]="formctrl" [(ngModel)]="aktionvalue" placeholder="Aktion" i18n-placeholder="@@action" (ngModelChange)="getAktion($event)" [matAutocomplete]="auto">
 
 <button mat-button *ngIf="aktionvalue" matSuffix mat-icon-button aria-label="Clear" (click)="aktiondelete(aktionvalue='')" >
     <mat-icon>close</mat-icon>
   </button>
 </mat-form-field>
 
 <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let akt of aktion" [value]="akt.bes" (click)="additemforsearch(akt)">
       {{ akt.bes}}
    </mat-option>
 </mat-autocomplete>
 </div>