<app-loading-screen></app-loading-screen>
<mat-drawer-container class="mainContainer" autosize (window:resize)="windowResize()">

    <mat-drawer #drawer class="sidenavContainer" mode="side">
        <div style="float: right; padding-left: 5px; padding-right: 5px;">
            <button style="margin-top: 15px;margin-bottom: 15px; color: #333;" mat-icon-button (click)="sidenavExpanded = !sidenavExpanded"><mat-icon style="font-size: 16px;" aria-label="icon-button expand/narrow sidenav" matTooltip="Sidenav erweitern/verkleinern" i18n-matTooltip="@@sidenavSizeTT" matTooltipShowDelay="800" matTooltipPosition="right">compare_arrows</mat-icon></button>
        </div>
        <app-sidenav [sidenavExpanded]="sidenavExpanded" [currentAppModule]="currentAppModule" [lastAppModule]="lastAppModule" [licensedModules]="licensedModules" [sidenavedModules]="sidenavmodules"></app-sidenav>
    </mat-drawer>
  
    <div class="appMainframe">
<div><app-headeranzeige [currentAppModule]="currentAppModule" [modulename]="modulename"  (searchvalues)="getSearchvaluesProjekte($event)" (onSidenavToggle)="drawer.toggle()"></app-headeranzeige></div>
<div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutAlign.xs="start">
<div class="flex-item" fxFlex="25%" [ngStyle]="{'height.px': innerheight}" style="overflow: scroll;"><app-testsearchpanel [vonFazit]="schalterFazit" [parameterfursuche]="newSearchVal" [termzeitvonfazit]="termzeitvonfazit" [rapnrvonfazit]="rapnrvonfazit" [nichtAgenda]="schalterNichtAgenda" [vonAgenda]="schalterAgenda" (termincountchanged)="termincountchanged($event)" (rapnrchanged)="newRapnr($event)" (beznrchanged)="newBeznr($event)" (terminchanged)="newTermin($event)"></app-testsearchpanel> </div>
<div class="flex-item" fxFlex="43%" [ngStyle]="{'height.px': innerheight}" style="overflow: scroll;"><app-mainpanelhead *ngIf="showMainPanel" [rapnr]="newrap" [beznr]="newbez" [datumToday]="datumJaNein" (rapnrvonfazit)="rapnrvonfazitchanged($event)" (kundenbezvonfazit)="kundenbezvonfazitchanged($event)" (termzeitvonfazit)="termzeitvonfazitchanged($event)"></app-mainpanelhead></div>
<div class="flex-item" fxFlex="32%" [ngStyle]="{'height.px': innerheight}" style="overflow: scroll;"><app-infopanel *ngIf="newTerm" [showContent]="showMainPanel" [termin]="newTerm" [selectedInfoTab]="selectedInfoTab"></app-infopanel> </div>

</div>

</div>
</mat-drawer-container>
