mat-list {

    overflow: scroll;
    min-height: 80%;
    overflow-x: hidden;
    height: 80%;
    margin-right: 20px;
    
}

::-webkit-scrollbar { 
    display: none; 
}

.important {
    font-size: 20pt;
    margin-bottom: 20px;
}
.aktiviSelect{
     display: flex;
  flex-flow: row wrap;
}
.sizelabel{
    display: inline-block;
    width: 20%;
}
.mat-button, .mat-raised-button{
    line-height: 23px !Important;
    padding: 0 8px !Important;
   }