/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';*/

body {
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 14px;
    color:#555;
    
    /* dark theme */
    background-color: #DDD;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    font-family: inherit;
    font-size: inherit;
}

.navbar{
    margin-bottom: 0px !important;
    position: absolute;
    border-radius: 0px  !important;
    min-height:30px !important;
}
 .navbar-default {
   background:  #737373 !important;
   border-color: #737373 !important;

 }
 .navbar-brand {
    color: black !important;
 }
 .ui-panel .ui-panel-content {
  padding: .0em 0em;
 }

 /*Schmales panel teamview*/
.ui-panel .ui-panel-titlebar {
     padding: .0em .0em; 
}

mat-toolbar a {
    text-decoration: none;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}

mat-toolbar a:hover {
    text-decoration: underline;
}

mat-toolbar a.disabled {
    color: red !important;
}

/* dark theme */        
mat-toolbar.mat-primary {
    box-shadow: 0 1px 8px rgba(0,0,0,.3);
}

.mat-select-content {
  background-color: darkgrey!important;
}

.mat-tab-body.mat-tab-body-active {

    overflow-y: hidden!important;
}

/* Offert-Tool */
.mat-option.mat-active {
    background: rgba(0, 0, 0, 0.25)!important;
    color: rgba(0, 0, 0, 0.87);
}

.mat-input-placeholder {
    color: rgba(0, 0, 0, 0.6)!important;
}

.mat-select-trigger {
    color: rgba(0, 0, 0, 0.6)!important;
}
/* Ende Offert-Tool */


/* Steuerung Print/Screen */


@media print {
  
    @page {
    size: A4 portrait;
    margin: 137mm 156mm 137mm 156mm;
    counter-increment: page;
    /*@bottom-right {*/
    /*  content: "Page " counter(page);*/
    /*  content: "Page " counter(page) " of " counter(pages);*/
    /*}*/
    }
  
    /*.mat-tab-body.mat-tab-body-active {*/
    /*    z-index: -1;*/
    /*}*/
  
    #footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 2;
    }
    
    p {
        page-break-inside: avoid;
    }
  
    table {
        page-break-after: auto;
    }
    
    td {
        page-break-after: auto;
    }
    
    td {
        page-break-inside: avoid;
    }
    
    .werbeformatblock {
        page-break-inside: avoid;
    }
    
    body {
        background: white;
        line-height: normal;
    }
    
    /* Umgebung minimieren */
    .app-content {
      padding: 0px;
    }
    
    /* Titelbalken ausblenden */
    mat-toolbar.mat-primary.mat-toolbar {
    display: none!important;
    }
    
    /* Spalte 1 ausblenden */
    .flex-item.spalte1 {
    display: none;
    }
    
    /* Templateauswahl ausblenden */
    .mat-tab-header {
        display: none!important;
    }
    
    mat-content {
      overflow: visible;
    }
    
    .spalte2 {
    width: 100%;
    }
    
    /*.druckvorschau {*/
    
        /*overflow: visible;*/
    
    /*border: none;*/
    /*box-shadow: none;*/
    /*background-color: white;*/
    /*page-break-after: always;*/
    
        /*top: 0px;*/
        /*left: 0px;*/
        /*padding-right: 2cm;*/
        /*width: 19cm;*/
        /*height: 29.7cm;*/
        /*font-size: 12pt;*/
    /*}*/
} 


.loadingpleasewait {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 550px;
  height: 550px;
  margin: -100px 0 0 -100px;
  border: 30px solid #eeeeee;
  border-radius: 50%;
  border-top: 30px solid #aa0000;
  width: 300px;
  height: 300px;
  -webkit-animation: goround 2s linear infinite;
  animation: goround 2s linear infinite;
}

@-webkit-keyframes goround {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes goround {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.logo {
  margin-top: 60px;
  height: 100%;
  width: 100%;
  color: #aa0000;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 60px;
  text-align: center;
}